* {
  font-family: Montserrat;
}

.top {
  margin-top: 50px;
  margin-bottom: 50px;
}

.top img {
  height: 80px;
  width: 80px;
}

.top h3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.header-line {
  width: 170px;
  height: 5px;
  margin-bottom: 50px;
  background-image: linear-gradient(to right, #ffc1c1, #ff6969);
}

.form-area {
  margin-bottom: 100px;
}

form.hs-form {
  /* text-align: center !important; */
  max-width: 700px !important;
  margin: 0 auto;
}

.hbspt-form {
  padding-left: 10px;
}

.form-columns-2 {
  max-width: 700px !important;
}

.form-columns-1 {
  max-width: 700px !important;
}

input.hs-input, textarea.hs-input {
  box-shadow: none !important;
}

.hs-input {
  max-width: 700px !important;
}

label {
  margin-left: 10px;
}

.hs-button.primary.large {
  margin-left: 10px;
  background-image: linear-gradient(90deg, #ff8d8d, #ff4d4d);
  border-radius: 36px;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 17px 65px;
  border: none !important;
  box-shadow: none !important;
  font-family: 'Montserrat';
  text-shadow: none !important;
}

.hs-button.primary.large:hover {
  outline: none;
  border: none !important;
  box-shadow: none !important;
  background-image: linear-gradient(90deg, #ff8d8d, #ff4d4d);
  opacity: 0.8;
}

.hs-button.primary.large:active {
  background-image: linear-gradient(90deg, #ff8d8d, #ff4d4d) !important;
}

.bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}